<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../styles/popup.css">
    <title>Log Out</title>
</head>
    <body>
        <div class="logo-container">
            <img id="logo" src="./../images/logos/Spotify_Logo_RGB_Black.png" alt="Spotify Logo">
        </div>
        <div class="button-container">
            <span id="status-message">Welcome {user}</span>
            <button id='log-out'>Log Out</button>
        </div>
        <script src="./../scripts/popup-log-out.js"></script>
    </body>
</html>